@import "typography.css";

.app__wrapper {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 4rem 0 0 0;
  height: 100%;
}

.app__content {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 16%;
}

.card__title {
  display: flex;
  align-items: center;
}

.card__title__icon {
  margin-right: .5rem;
}

.card__title__text {
  margin: 0;
}

.card__content {
  margin-bottom: 0;
}

.dialog__content {
  min-width: 24rem !important;
  max-width: 100% !important;
}

.dialog__title * {
  font-weight: bold !important;
}

@media all and (max-width: 1366px) {
  .app__content {
    padding: 1rem 1rem;
  }
}