@import "Typography.css";


.app__wrapper {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 4rem 0;
  height: 100%;
}

.app__content {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 16%;
}

.card__title {
  display: flex;
  align-items: center;
}

.card__title__icon {
  margin-right: .5rem;
}

.card__title__text {
  margin: 0;
}

.card__content {
  margin-bottom: 0;
}

@media all and (max-width: 1366px) {
  .app__content {
    padding: 1rem 1rem;
  }
}