.MuiTypography-h1 {
    font-size: 2.25rem!important;
}

.MuiTypography-h2 {
    font-size: 1.75rem!important;
}

.MuiTypography-h3 {
    font-size: 1.5rem!important;
}

.MuiTypography-h4 {
    font-size: 1.4rem!important;
}

.MuiTypography-h5 {
    font-size: 1.25rem!important;
}

.MuiTypography-h6 {
    font-size: 1rem!important;
}
