.backup-demo__form__submit {
    display: block !important;
    margin-right: 0 !important;
    margin-left: auto !important;
}

.backup-demo__uploaded-file__id:hover {
    font-weight: bold;
    cursor: pointer;
}

.backup-demo__uploaded-file {
    margin-top: 1rem;
}

.backup-demo__upload {
    margin-top: 1rem;
}

.backup-demo__retrieve {
    margin-top: 1rem;
}

.backup-demo__upload__btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.backup-demo__retrieve__btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.backup-demo__retrieve__input {
    width: min(100%, 44rem);
}

.backup-demo__retrieve__file-info {
    margin-top: 1rem;
}

@media all and (max-width: 768px) {
    .backup-demo .MuiButtonBase-root {
        width: 100%!important;
    }
}
